export KUBECONFIG=~/.kube/config:~/Downloads/kubeconfig-eks.dpatel-cloudgate-aws-credentials.us-east-2.view-green.yml:~/Downloads/kubeconfig-eks.dpatel-cloudgate-aws-credentials.us-east-2.run-green.yml:~/Downloads/kubeconfig-eks.dpatel-cloudgate-aws-credentials.us-east-2.build-green.yml:~/Downloads/kubeconfig-eks.dpatel-cloudgate-aws-credentials.us-east-2.run-yellow.yml:~/Downloads/kubeconfig-eks.dpatel-cloudgate-aws-credentials.us-east-2.iterate-green.yml