export AWS_ACCOUNT_ID=795323290475
export AWS_REGION=us-east-2
export EKS_CLUSTER_NAME=build-green
export TAP_PKGR_REPO=gcr.io/pa-dpatel/tap150
export INSTALL_REGISTRY_HOSTNAME=gcr.io
export INSTALL_REGISTRY_USERNAME=_json_key
export INSTALL_REGISTRY_PASSWORD="$(cat /Users/pdipal/Downloads/pa-dpatel-689de39b13dd.json)"